{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}




<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}



<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">
            <form class="login100-form validate-form">
					<span class="login100-form-title p-b-70">
						Welcome
					</span>

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
                    <label for="username" hidden>{{ 'security.login.username'|trans }}</label>
                    <input class="input100" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username">
                    <span class="focus-input100" data-placeholder="Username"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                    <label for="password" hidden>{{ 'security.login.password'|trans }}</label>
                    <input class="input100" type="password" id="password" name="_password" required="required" autocomplete="current-password">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>
                <div>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>

                <div class="container-login100-form-btn">
                    <input class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </div>

                <ul class="login-more p-t-190">


                    <li>
							<span class="txt1">
								Don’t have an account?
							</span>

                        <a href="" class="txt2">
                            Sign up
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>
</form>