

{% extends 'base.html.twig' %}
{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <title></title>
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="{{ asset('acss/images/icons/favicon.ico') }}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('acss/vendor/bootstrap/css/bootstrap.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('acss/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('acss/vendor/animate/animate.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('accs/vendor/select2/select2.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('acss/vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('acss/css/util.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('acss/css/main.css') }}">
        <!--===============================================================================================-->
    </head>

    <body>
    <div class="limiter">
        <div class="container">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                        <tr class="table100-head">

                            <th class="column1">titre du livre</th>
                            <th class="column2">prix</th>
                            <th class="column3">date publication</th>
                            <th class="column3">livrer commande</th>
                            <th class="column3">annuler commande</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for c in list %}
                            <tr>
                                <td hidden>{{ c.idcommande }}</td>
                                <td>{{ c.idlivre.nomlivre }}</td>
                                <td>{{ c.idLivre.prixlivre }} dt</td>
                                <td>{{ c.idlivre.datelivre|date('Y-m-d') }}</td>
                                <td>  <a href="{{ path('livrer',{'idcommande':c.idcommande}) }}" class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center">
                                        <span>livrer</span>
                                    </a></td>
                                <td>  <a href="{{ path('annulerfrontcommande',{'idcommande':c.idcommande}) }}" class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center">
                                        <span>annuler</span>
                                    </a></td>
                                </tr>


                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="button_cont" align="center"><a class="example_b" href="{{ path('homepage') }}" >retour</a></div>
    </div>
    <!--===============================================================================================-->
    <script src="{{ asset('acss/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('acss/vendor/bootstrap/js/popper.js') }}"></script>
    <script src="{{ asset('acss/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('acss/vendor/select2/select2.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('acss/js/main.js') }}"></script>
    </body>

    </html>
{% endblock content %}

